@model   StoreApp.Library.Location

@{
    ViewData["Title"] = "Details";
}


<h1> Location's Details</h1>



<div>
    <h3>@Model.Name</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
    <div class="col-6">
        <a asp-action="" asp-controller="Inventory" asp-route-id="@Model.LocationId" class="btn btn-primary">Inventory</a> |   <a asp-action="" asp-controller="Order" asp-route-id="@Model.LocationId" class="btn btn-primary">Orders</a>
    </div> 
    <br /> 

  

</div>

<hr/>
<div>

</div>
