@model IEnumerable<StoreApp.DataModel.Order>

@{
    ViewData["Title"] = "Details";
}


<h1> Location's Orders</h1>

<h3>Here are all the orders for this location </h3>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Order List</h2>
        </div>
    </div>

    <br /><br />


    <table class="table table-striped table-dark" style="width:100%">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Email)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
            <tr>
                <td><a asp-area="" asp-controller="Location" asp-action="Details">Order #@order.OrderId</a></td>
                <td>@order.Date</td>
                <td>@order.Customer.FirstName</td>
                <td>@order.Customer.LastName</td>
                <td>@order.Customer.Email</td>
            </tr>
            }
        </tbody>
    </table>

    @*<div class="col-6">
            <a asp-action="Create" asp-controller="Location" class="btn btn-secondary">Add a new Location</a>
        </div>*@

</div>
